.comparisonTableWrapper {
  margin-bottom: 0;
}

.comparisonLoadingWrapper { /* for the 'Query Execution Plans box */
  width: 100%;
  position: relative;
  background-color: #404141;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  color: white;
}

.attributeTableCell {
  background-color: #e9ecef;
}
